@page "/painel/servidor/solicitacoes"
@inject HttpClient http

<h3>Solicitações</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Comando</th>
            <th scope="col">Solicitado Por</th>
            <th scope="col">Endereco</th>
            <th scope="col">Status</th>
            <th scope="col">Tipo</th>
        </tr>
    </thead>
   <tbody>
       <tr>

       </tr>
   </tbody>

</table>

<a href="painel/servidor">Voltar</a>

@code {
    //TODO checar qual secretaria o servidor pertence
}
