@page "/painel/servidor"
<h3>Painel do Servidor</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Realizar Chamado</h5>
            <div class="card-body">
                <p class="card-text">Realize um chamado para outra secretaria</p>
                <a href="/painel/servidor/abrirchamado" class="btn btn-primary">Realizar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Cadastre uma Cesta Básica para um Cidadao</h5>
            <div class="card-body">
                <p class="card-text">Cadastre uma Cesta Básica para um cidadao</p>
                <a href="/painel/servidor/cesta" class="btn btn-primary">Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Registre um cidadão</h5>
            <div class="card-body">
                <p class="card-text">Realize um cadastro do cidadao no sistema.</p>
                <a href="/cadastro/cidadao" class="btn btn-primary">Registrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Gerencie sua Secretaria</h5>
            <div class="card-body">
                <p class="card-text">Gerenciar Secretaria atual</p>
                <a href="#" class="btn btn-primary">Gerenciar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Checar Solicitações</h5>
            <div class="card-body">
                <p class="card-text">Cheque solicitações de sua secretaria</p>
                <a href="/painel/servidor/solicitacoes" class="btn btn-primary">Checar</a>
            </div>
        </div>
    </div>
</div>
@code {

}
