@page "/painel/cidadao/listartelefone"
@using Core.Entities

<h3>Telefones Uteis</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Secretaria</th>
            <th scope="col">Telefone</th>
        </tr>
    </thead>
   <tbody>
       <tr>

       </tr>
   </tbody>

</table>

<a href="/painel/cidadao"> Voltar </a>

@code {
    public List<Secretaria> secretarias = new List<Secretaria>();

    //TODO listar todas as secretarias e exibir o nome delas
}
