@page "/painel/cidadao"
<h3 class="h3">Painel do Cidadao</h3>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Listar Telefones</h5>
            <div class="card-body">
                <p class="card-text">Listar telefone de cada umas das Secretarias cadastradas no sistema</p>
                <a href="painel/cidadao/listartelefone" class="btn btn-primary">Listar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Requisitar uma Cesta Basica</h5>
            <div class="card-body">
                <p class="card-text">Requisite uma cesta básica para você e sua família.</p>
                <a href="painel/cidadao/cesta" class="btn btn-primary">Requisitar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <h5 class="card-header">Realizar uma Reclamacao</h5>
            <div class="card-body">
                <p class="card-text">Realize uma reclamacao sobre uma Secretaria.</p>
                <a href="painel/cidadao/reclamacao" class="btn btn-primary">Criar</a>
            </div>
        </div>
    </div>
</div>
@code {

}
