@page "/adm/dash/add/familia"
@using FrontEnd_GAMA.Singleton;
@using System.Reflection;
@inject NavigationManager navigation
@inject AdmOperationEntity ops
<h3>Adicionar @ops.Entity</h3>



@code {

}