@page "/faq"
<PageTitle>FAQ</PageTitle>

    <h4 class="h3">Perguntas Frequentes Sobre o Sistema</h4>
    <h4 class="h4">Quem Somos?</h4>
    <p class="text-justify">Eu sou José Aurivan, aluno pós graduando do curso de Engenharia de Software da PUC Minas, e este é o trabalho final do curso.</p>
    <h4 class="h4">Objetivo</h4>
    <p class="text-justify">O objetivo deste trabalho é mostrar um sistema de gerenciamento de cidadãos e servidores do sistema público brasileiro.</p>

@code {

}
