@page "/"
@inject NavigationManager NavigationManager
@inject IToastService toast
<PageTitle>Index</PageTitle>

<div class="jumbotron">
    <h1 class="h1">Bem vindos</h1>
    <p class="lead">Seja bem vindo ao GAMA</p>
    <hr class="my-4">
    <p class="lead">
        <button @onclick=@( () => IrParaLoginCidadao()) class="btn btn-primary">Logar Como Cidadao</button>
        <button @onclick=@( () => IrParaLoginServidor()) class="btn btn-primary">Logar Como Servidor</button>
    </p>
</div>




@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override Task OnInitializedAsync()
    {
        toast.ShowInfo("Bem vindo ao Sistema GAMA");
        return base.OnInitializedAsync();
    }

    void IrParaLoginCidadao()
    {
        NavigationManager.NavigateTo("/login/cidadao");
    }
    void IrParaLoginServidor()
    {
        NavigationManager.NavigateTo("/login/servidor");
    }
}