@page "/adm/dash/operar/cesta"
@using FrontEnd_GAMA.Singleton;
@inject NavigationManager navigation
@inject AdmOperationEntity ops;
<h3>DashboardADM</h3>



@code {

    public void Navigate()
    {
        navigation.NavigateTo("/adm/" + ops.Operation + "/" + ops.Entity);
    }

}
