@inject HttpClient http;
@using FrontEnd_GAMA.Singleton;
@using SuporteFront;
@using System.Reflection;
@inject NavigationManager navigation
@inject AdmOperationEntity ops
@inject ILocalStorageService local
@inject HttpClient http
@inject IToastService toast
<h3>SecretariaForm</h3>

<EditForm Model="secretariaEndereco" OnSubmit="EfetuarCadastro">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <InputText id="nome" class="form-control" @bind-Value="secretariaEndereco.Secretaria.Nome" required> </InputText>
        </div>
 
        <div class="form-group col-md-6">
            <label for="senha">Telefone:</label>
            <InputText id="nome" class="form-control" @bind-Value="secretariaEndereco.Secretaria.Telefone" required> </InputText>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="senha">CNPJ:</label>
            <InputText id="nome" class="form-control" placeholder="Campo não obrigatório" @bind-Value="secretariaEndereco.Secretaria.CNPJ"> </InputText>
        </div>
    </div>
    <EnderecoForm endereco="secretariaEndereco.Endereco">

    </EnderecoForm>


    <button type="submit" class="btn btn-success">Cadastrar</button>
    <button type="reset" class="btn btn-outline-warning">Limpar</button>

</EditForm>

@code {
    [Parameter] public SecretariaEnderecoViewModel secretariaEndereco { get; set; }
    [CascadingParameter] public IModalService ModalService { get; set; }

    private async Task EfetuarCadastro()
    {
        toast.ShowInfo("Enviando Requisição");
        var response = await http.PostAsJsonAsync<SecretariaEnderecoViewModel>("secretaria", secretariaEndereco);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            toast.ShowSuccess("Cadastrado com sucesso");
            navigation.NavigateTo("/adm/dash/add/secretaria", true);
        }
        else
        {
            var modalScreen = ModalService.Show<FrontEnd_GAMA.Components.ErrorDialog>();
            var result = await modalScreen.Result;
            if (result is not null)
            {
                navigation.NavigateTo("/adm/dash/add/secretaria", true);
            }
            
        }
    }
}
